TS.BAPLN.UI/TS.BAPLN.UI/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53301/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" />
  <xs:element name="ObtenerEsudiantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEsudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerEsudiantesResult" nillable="true" type="q1:ArrayOfEstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEsudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEsudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerEsudianteResult" nillable="true" type="q2:EstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="estudiante" nillable="true" type="q3:EstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearEstudianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarEstudianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarEstudianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="estudiante" nillable="true" type="q4:EstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstudianteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNacionalidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNacionalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerNacionalidadesResult" nillable="true" type="q5:ArrayOfNacionalidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoBecas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoBecasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerTipoBecasResult" nillable="true" type="q6:ArrayOfTipoBecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerBecasResult" nillable="true" type="q7:ArrayOfBecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarBeca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarBecaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarBeca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarBecaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearBeca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="beca" nillable="true" type="q8:BecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearBecaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarBeca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="beca" nillable="true" type="q9:BecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarBecaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarBecaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerBecaPorIdResult" nillable="true" type="q10:BecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearBecaEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="beDto" nillable="true" type="q11:BecaEstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearBecaEstudianteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecasActivas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerBecasActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerBecasActivasResult" nillable="true" type="q12:ArrayOfBecaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantesAutocomplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstudiantesAutocompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerEstudiantesAutocompleteResult" nillable="true" type="q13:ArrayOfEstudianteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDonadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDonadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerDonadoresResult" nillable="true" type="q14:ArrayOfDonadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDonador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDonadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerDonadorResult" nillable="true" type="q15:DonadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDonador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="donador" nillable="true" type="q16:DonadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDonadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarDonador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarDonadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarDonador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarDonadorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDonador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="estudiante" nillable="true" type="q17:DonadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDonadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarDonadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeriodicidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeriodicidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerPeriodicidadesResult" nillable="true" type="q18:ArrayOfPeriodicidadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerInstitucionesResult" nillable="true" type="q1:ArrayOfInstitucionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerInstitucionResult" nillable="true" type="q2:InstitucionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ObtenerCatalogoMaterias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoMateriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerCatalogoMateriaResult" nillable="true" type="q2:ArrayOfMateriasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  
  <xs:element name="ObtenerMaterias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInstitucion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMateriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerMateriaResult" nillable="true" type="q2:ArrayOfMateriasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="materia" nillable="true" type="q3:MateriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMateriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>

  <xs:element name="ObtenerCatalogoPeriodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoPeriodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerCatalogoPeriodoResult" nillable="true" type="q2:ArrayOfPeriodosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ObtenerPeriodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInstitucion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeriodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerPeriodoResult" nillable="true" type="q2:ArrayOfPeriodosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActualizarPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="periodo" nillable="true" type="q3:PeriodoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPeriodoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>

  <xs:element name="ObtenerCatalogoNiveles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerCatalogoNivelResult" nillable="true" type="q2:ArrayOfNivelesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  
  <xs:element name="ObtenerNiveles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInstitucion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerNivelResult" nillable="true" type="q2:ArrayOfNivelesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActualizarNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="nivel" nillable="true" type="q3:NivelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>  

  <xs:element name="ObtenerCatalogoCursosLectivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogoCursosLectivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="ObtenerCatalogoCursoLectivoResult" nillable="true" type="q2:ArrayOfCursosLectivosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActualizarCursoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="cursoLectivo" nillable="true" type="q3:CursoLectivoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCursoLectivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>

  <xs:element name="ActualizarInstitucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TS.BAPLN.DataEntities.DTO" minOccurs="0" name="institucion" nillable="true" type="q4:InstitucionDTO" />
        <xs:element name="materiasIds" type="xs:ArrayOfInteger"/>
        <xs:element name="periodosIds" type="xs:ArrayOfInteger"/>
        <xs:element name="nivelesIds" type="xs:ArrayOfInteger"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInstitucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarInstitucionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InactivarMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarMateriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarMateriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMateriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarMateriaResult" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InactivarPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarPeriodoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarPeriodoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  

  <xs:element name="InactivarNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarNivelResponse">
    <xs:complexType>
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="InactivarCursoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivarCursoLectivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCursoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarCursoLectivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCursoLectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCursoLectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>